/*
* iziModal | v1.0.1
* http://izimodal.dolce.ninja
* by Marcelo Dolce.
*/
.iziModal {
    display: none;
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    z-index:999;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease;
}
.iziModal *{
    -webkit-font-smoothing: antialiased;
}
.iziModal::after{
    content: '';
    width: 100%;
    height: 0px;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 );
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
}
.iziModal.hasScroll::after{
    height: 50px;
    opacity: 1;
}
.iziModal .iziModal-button-close{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    outline: none;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    opacity: 0.5;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA1Q0VDOEExRkE2QjExRTRBMTRGRjEzNTI3QzQxNjgzIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA1Q0VDOEEyRkE2QjExRTRBMTRGRjEzNTI3QzQxNjgzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDVDRUM4OUZGQTZCMTFFNEExNEZGMTM1MjdDNDE2ODMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDVDRUM4QTBGQTZCMTFFNEExNEZGMTM1MjdDNDE2ODMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz42M6umAAAA+klEQVR42ryWMQ6CMBSGwbgw6szg0CuwcQGP4A1IWFzxQh6AwTuwsjpZd1iZnj/JC6nkQVFo/+Rb2vL/tH20hEQUuNTe0n8AF3AGCsTc/gZP8AB30Ew69DMQiMANNGRXw2MjyUsyP4GaflfNz84GxEDT/9LsIQb0U6xovSpzuXbGdlxBskHhJOz1tclH0Apvk4F0Ytk092VCX8ueQ0A+Md2U+9UoRHNbwGMk5WZAObNpahQitUkqzYCXpTJMwyXmxJ5DQLeg/JRRcWpBOXfjKnIjX0vkfJOdl6nzD62noO1UeDvsvB7XXi6cza/M0PJXsfrStwWs1keAAQCDFDiZcdu3BwAAAABJRU5ErkJggg==') no-repeat 50% 50%;
    transition: transform 0.5s cubic-bezier(.16,.81,.32,1), opacity 0.5s ease;
}
.iziModal .iziModal-button-close:hover{
    opacity: 1;
    transform: rotate(180deg);
}
.iziModal .iziModal-header {
    background: #88A0B9;
    padding: 14px 40px 15px 18px;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 -10px 15px -12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.iziModal .iziModal-header-icon{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 15px;
    float: left;
}
.iziModal .iziModal-header-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}
.iziModal .iziModal-header-subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 1.4;
}
.iziModal .iziModal-header-title, .iziModal .iziModal-header-subtitle{
    margin: 0;
    font-family: Arial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .iziModal .iziModal-header.iziModal-noSubtitle{
        height: auto;
        padding: 10px 40px 12px 15px;
    }
    .iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-icon{
        font-size: 23px;
        padding-right: 13px;
    }
    .iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-title{
        font-size: 15px;
        margin: 3px 0 0 0;
        font-weight: 400;
    }

    /* LIGHT THEME */
    .iziModal.light .iziModal-header{
        box-shadow: none;
    }
    .iziModal.light .iziModal-header-icon{
        color: rgba(0, 0, 0, 0.5);
    }
    .iziModal.light .iziModal-header-title{
        color: #000;
    }
    .iziModal.light .iziModal-header-subtitle{
        color: rgba(0, 0, 0, 0.6);
    }
    .iziModal.light .iziModal-button-close{
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDU0QjI2RjgyNjZFMTFFNkE3RTk5MEFGMzVBNTcxNkYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDU0QjI2RjcyNjZFMTFFNkE3RTk5MEFGMzVBNTcxNkYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDVDRUM4QTFGQTZCMTFFNEExNEZGMTM1MjdDNDE2ODMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDVDRUM4QTJGQTZCMTFFNEExNEZGMTM1MjdDNDE2ODMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6mca+RAAABkklEQVR42rxVoU4DQRC9NhhUAYNBICqbVLUJSU+cK4IPuB+4BAeCNAUPAgH6fqCuBkHdGRJEVZPKE4iaKlqFPN4ms8uymbm7hjsmeZmmO/ve7czsTiPLMq9O28tbjOP4EC4EzoE2cEJLKyAFXoFJFEWfEkeDOwGI9+GugRvgoOAjN8Aj8AShr0IBkJ/CvQCdHbOxBC4g8iEKgFyl4N1Kxa6mUncGkZX+o+mkZfoHco/2TonrtwDsCuhV0Dg94voRgOIR3IgJvgR8OjqXDp9iXBsRpzmBasUWVzjk8w0+cETU74DWlsy+FnEagaFw3Am+pA2i1BLR5KlaUzHC3qEt0M0pWuKI2ORJTlN07Zt8XNAZSiQgEa8EueFsejWbFlgXXB6TFqYmkq1tgUUZckpLUlJkYQvMhKCQKahb+FDYO7MFVKttmaAOiAZMQbXIQHgUt7p9zWOH4DHcfUW1vcXpHtwuegbmFZDPieufn2tltOAL70uZgePb5OxFo4nUB+5oHBbZhmL77jQTZ3LtQ79K+xZgAC6hutw74AdUAAAAAElFTkSuQmCC') no-repeat 50% 50%;
    }


.iziModal .iziModal-loader{
    background: #FFF url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCA0NCA0NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiM5OTkiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS13aWR0aD0iMiI+ICAgICAgICA8Y2lyY2xlIGN4PSIyMiIgY3k9IjIyIiByPSIxIj4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiAgICAgICAgICAgICAgICBiZWdpbj0iMHMiIGR1cj0iMS40cyIgICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAyMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMTY1LCAwLjg0LCAwLjQ0LCAxIiAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJzdHJva2Utb3BhY2l0eSIgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjEuNHMiICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsgMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMywgMC42MSwgMC4zNTUsIDEiICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiAgICAgICAgPC9jaXJjbGU+ICAgICAgICA8Y2lyY2xlIGN4PSIyMiIgY3k9IjIyIiByPSIxIj4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiAgICAgICAgICAgICAgICBiZWdpbj0iLTAuOXMiIGR1cj0iMS40cyIgICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAyMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMTY1LCAwLjg0LCAwLjQ0LCAxIiAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJzdHJva2Utb3BhY2l0eSIgICAgICAgICAgICAgICAgYmVnaW49Ii0wLjlzIiBkdXI9IjEuNHMiICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsgMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMywgMC42MSwgMC4zNTUsIDEiICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiAgICAgICAgPC9jaXJjbGU+ICAgIDwvZz48L3N2Zz4=) no-repeat 50% 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

.iziModal .iziModal-content-loader{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCA0NCA0NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiM5OTkiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS13aWR0aD0iMiI+ICAgICAgICA8Y2lyY2xlIGN4PSIyMiIgY3k9IjIyIiByPSIxIj4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiAgICAgICAgICAgICAgICBiZWdpbj0iMHMiIGR1cj0iMS40cyIgICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAyMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMTY1LCAwLjg0LCAwLjQ0LCAxIiAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJzdHJva2Utb3BhY2l0eSIgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjEuNHMiICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsgMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMywgMC42MSwgMC4zNTUsIDEiICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiAgICAgICAgPC9jaXJjbGU+ICAgICAgICA8Y2lyY2xlIGN4PSIyMiIgY3k9IjIyIiByPSIxIj4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiAgICAgICAgICAgICAgICBiZWdpbj0iLTAuOXMiIGR1cj0iMS40cyIgICAgICAgICAgICAgICAgdmFsdWVzPSIxOyAyMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMTY1LCAwLjg0LCAwLjQ0LCAxIiAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4gICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJzdHJva2Utb3BhY2l0eSIgICAgICAgICAgICAgICAgYmVnaW49Ii0wLjlzIiBkdXI9IjEuNHMiICAgICAgICAgICAgICAgIHZhbHVlcz0iMTsgMCIgICAgICAgICAgICAgICAgY2FsY01vZGU9InNwbGluZSIgICAgICAgICAgICAgICAga2V5VGltZXM9IjA7IDEiICAgICAgICAgICAgICAgIGtleVNwbGluZXM9IjAuMywgMC42MSwgMC4zNTUsIDEiICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiAgICAgICAgPC9jaXJjbGU+ICAgIDwvZz48L3N2Zz4=) no-repeat 50% 50%;
}

.iziModal .iziModal-content:before,
.iziModal .iziModal-content:after { content:''; display:table }
.iziModal .iziModal-content:after { clear:both }
.iziModal .iziModal-content{ zoom:1 }
.iziModal .iziModal-wrap{
    position: relative;
    transition: height 0.3s ease;
}
.iziModal .iziModal-iframe{
    width: 100%;
    margin-bottom: -4px;
    transition: height 0.3s ease;
}
.iziModal-overlay{
    display: block;
    position: fixed;
    /*background: rgba(0, 0, 0, 0.4);*/
    z-index: 998;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body.iziModal-attached{
    overflow: hidden;
}
body.iziModal-attached .iziModal{
    border-radius: 0;
}
body.iziModal-attached .iziModal-header{
    border-radius: 0;       
}
body.iziModal-attached .iziModal-wrap{
    overflow-y: auto;
    overflow-x: hidden;
}

/**
 * ANIMATIONS
 */

.iziModal.transitionIn .iziModal-header{
    -webkit-animation: slideDown 0.7s cubic-bezier(0.7,0,0.3,1); /* both */
    -moz-animation: slideDown 0.7s cubic-bezier(0.7,0,0.3,1); /* both */
    animation: slideDown 0.7s cubic-bezier(0.7,0,0.3,1); /* both */
}
    .iziModal.transitionIn .iziModal-header .iziModal-header-icon {
        -webkit-animation: revealIn 1s cubic-bezier(.16,.81,.32,1) both;
        -moz-animation: revealIn 1s cubic-bezier(.16,.81,.32,1) both;
        animation: revealIn 1s cubic-bezier(.16,.81,.32,1) both;
    }
    .iziModal.transitionIn .iziModal-header .iziModal-header-title, .iziModal.transitionIn .iziModal-header .iziModal-header-subtitle {
        -webkit-animation: slideIn 1s cubic-bezier(.16,.81,.32,1) both;
        -moz-animation: slideIn 1s cubic-bezier(.16,.81,.32,1) both;
        animation: slideIn 1s cubic-bezier(.16,.81,.32,1) both;
    }

    .iziModal.transitionIn .iziModal-header .iziModal-button-close{
        -webkit-animation: revealIn 1.2s cubic-bezier(0.7,0,0.3,1);
        -moz-animation: revealIn 1.2s cubic-bezier(0.7,0,0.3,1);
        animation: revealIn 1.2s cubic-bezier(0.7,0,0.3,1);
    }

.iziModal.transitionIn .iziModal-iframe, .iziModal.transitionIn .iziModal-wrap{
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.iziModal.transitionIn .iziModal-header {
    -webkit-animation-delay: 0.0s;
    -moz-animation: 0.0s;
    animation-delay: 0.0s;
}
.iziModal.transitionIn .iziModal-header .iziModal-header-icon,
.iziModal.transitionIn .iziModal-header .iziModal-header-title {
    -webkit-animation-delay: 0.4s;
    -moz-animation: 0.4s;
    animation-delay: 0.4s;
}
.iziModal.transitionIn .iziModal-header .iziModal-header-subtitle {
    -webkit-animation-delay: 0.5s;
    -moz-animation: 0.5s;
    animation-delay: 0.5s;
}
.fadeOut {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}
.fadeIn {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
.transitionIn{
    -webkit-animation: transitionIn 0.5s ease;
    -moz-animation: transitionIn 0.5s ease;
    animation: transitionIn 0.5s ease;
}
.transitionOut{
    -webkit-animation: transitionOut 0.5s cubic-bezier(.16,.81,.32,1);
    -moz-animation: transitionOut 0.5s cubic-bezier(.16,.81,.32,1);
    animation: transitionOut 0.5s cubic-bezier(.16,.81,.32,1);
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes slideIn {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes transitionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-20px) perspective( 600px ) rotateX( 10deg );
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0) perspective( 600px ) rotateX( 0 ); 
    }
}
@-moz-keyframes transitionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-20px) perspective( 600px ) rotateX( 10deg );
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0) perspective( 600px ) rotateX( 0 ); 
    }
}
@keyframes transitionIn {
    0% {
        opacity: 0;
        /*transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );*/
        transform: scale(0.9) translateY(-20px) perspective( 600px ) rotateX( 10deg );
    }
    100% {
        opacity: 1;
        /*transform: scale(1) translateY(0) perspective( 600px ) rotateX( 0 ); */
        transform: scale(1) translateY(0) perspective( 600px ) rotateX( 0 ); 
    }
}

@-webkit-keyframes transitionOut {
    0% {
        opacity: 1;
        transform: scale(1); 
    }
    100% {
        opacity: 0;
        transform: scale(0.9); 
    }
}
@-moz-keyframes transitionOut {
    0% {
        opacity: 1;
        transform: scale(1); 
    }
    100% {
        opacity: 0;
        transform: scale(0.9); 
    }
}
@keyframes transitionOut {
    0% {
        opacity: 1;
        /*transform: translateY(0) perspective( 600px ) rotateX( 0 ); */
        transform: scale(1); 
    }
    100% {
        opacity: 0;
        /*transform: translateY(10px) perspective( 600px ) rotateX( 10deg ); */
        transform: scale(0.9); 
    }
}

@-webkit-keyframes slideDown {
    0% { opacity: 0; -webkit-transform: scale(1,0) translateY(-40px); -webkit-transform-origin: center top; }
}
@-moz-keyframes slideDown {
    0% { opacity: 0; -moz-transform: scale(1,0) translateY(-40px); -moz-transform-origin: center top; }
}
@keyframes slideDown {
    0% { opacity: 0; transform: scale(1,0) translateY(-40px); transform-origin: center top; }
}


@-webkit-keyframes revealIn {
    0% { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}
@-moz-keyframes revealIn {
    0% { opacity: 0; -moz-transform: scale3d(0.3,0.3,1); }
}
@keyframes revealIn {
    0% { opacity: 0; transform: scale3d(0.3,0.3,1); }
}

/**
 * SCROLL
 */

.iziModal ::-webkit-scrollbar {
    overflow: visible;
    height: 7px;
    width: 7px;
}
.iziModal ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.iziModal ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,.4);
}
.iziModal ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
.iziModal ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 2px;
}